	
	@font-face {

		font: "Please write me a song";
		src:  url("Fonts/Please write me a song.ttf");
	}

	:root {
		--yellow: #FFFFCC;
		--white: #FFFFFF;
		--blue: #A7EAF7;
		--brown: #36311E;
		--NoyaS: 252px;
		--Diosa: min(580px, 87vw);
		--PolS: 1;
	}

	body {
		background-color: var(--brown);
		margin: 0%;
	}

	* {
		font-family: "Please write me a song";
		font-size: 22px;
	}

	.Name{
		text-align: center;
		font-size: 40px;
		line-height: 100%;
		color: black;
	}

	h1 {
			color: var(--yellow);
			line-height: 300%;
	}

	p {
			color: var(--white);
	}

	.p2 {
			color: var(--blue);
	}
	.Dec {
		width: 100%;
		background-image: url("img/Noya.png"), url("img/Pompompurin toalla.png");
		background-position: max(calc(50% + 170px), calc(100% - 10px)) 0%, min(calc(50% - 170px), max(30px, calc(0%+10px))) 65px;
		background-size: var(--NoyaS), calc(var(--NoyaS)*0.83), calc(var(--NoyaS)*0.54);
		background-repeat: no-repeat;
		background-clip: none;
	}

	.Wrapper {
		margin: auto;
		width: 90%;
		max-width: 800px;
	}

	section {
			text-align: center;
	}

	hr {
		border-top: dashed;
		border-bottom: none;
		width: 50%;
		color: var(--yellow);
	}

	.Polaroid {
		margin: 0 auto;
		width: var(--Diosa);
		background-color: var(--white);
		padding: 10px;
		border-radius: 10px;
		transform: scale(viewport);
	}

	div {
		height: calc(var(--Diosa)*var(--PolS)+ 5px);
		text-align: center;
	}

	.MWrapper {
		margin: auto;
		margin-top: 45px;
		margin-bottom: 45px;
	}

	@media only screen and (min-width: 768px){
		.Dec {
				background-image: url("img/Noya.png"), url("img/Pompompurin toalla.png"), url("img/Pompompurin corazon.png");
				background-position: calc(50% + 230px) 0%, calc(50% - 230px) 65px, min(calc(50% + 290px), calc(100% - 10px)) 320px;;
		}
	}